/* style.css */

body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #1a1a1a;
  max-width: 1200px;
  margin: auto;
}

header {
  text-align: center;
  padding: 1em 0;
  background-color: #003E74;
  color: white;
}

.navbar {
  background-color: #003E74;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

.content {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 2em;
}

.toc {
  width: 250px;
  padding: 2em;
  background-color: #e6e6e6;
}

.toc a {
  text-decoration: none;
  color: #1a1a1a;
}

.toc a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #003E74;
  color: white;
  text-align: center;
  padding: 1em 0;
}
